nav {
  background-color: #292929;
  padding: 0 40px;
  margin: 0;
  font-size: 1em;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 48px;
    margin-right: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    li {
      margin: 0 20px;
      display: inline-block;
      position: relative;

      a {
        text-decoration: none;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        display: inline-block;
        position: relative;
        transition: color 0.3s;
        font-size: 1.1em;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: #ffffff;
          border-radius: 2px;
          transition: width 0.3s;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &:hover {
          color: #ffffff;
          background: rgba(255, 255, 255, 0.04);

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}