$color-principal: #527bec;     // encabezados, botones primarios
$color-secundario: #5FA8D3;    //hover, botones secundarios, enlaces
$color-terciario: #CAE9FF;     //fondos suaves, tarjetas
$color-fondo: #ffffff;         //fondo general
$color-acento: #62B6CB;        //detalles/acento